
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #ffffff;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
  padding: 10px;
}
/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  /* padding-left: 0px; */
  padding-left: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: #f8f8f8;
  padding: 10px 30px 10px 30px;
  margin-top: 20px;
  border-radius: 25px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 0;
  overflow: hidden;
}
.card:hover {
    /* transition: all 2s ease-out; */
    transition: transform 2s ease-in-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
}
.card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #00838d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 2s ease-out;
}
.card:hover:before {
    transform: scale(2.15);
  }
.card-footer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  float: right;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.card-content{
  text-align: justify;
}
.btn1-style{
  color: #62a4da;
  background-color: #f8f8f8;
  padding-right: 50px;
  height: 20px;
  padding-top: 0px;
}
.btn1-style:hover{
  color: #61c0d8;
}
.btn2-style{
  color: #62a4da;
  background-color: #f8f8f8;
  padding-right: 20px;
  height: 20px;
  padding-top: 0px;
}
.btn2-style:hover{
  color: #61c0d8;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcolumn {   
    width: 100%;
    padding: 0;
  }
  .rightcolumn{
    width: 100%;
  }
  .comment-form{
    width: 100%;
  }
}
/*Sicial media*/
.media{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/*All right reserved*/
.right{
  display: flex;
  justify-content: flex-end;
  text-align: center;
  padding: 7px 20px ;
  height: 45px;
  font-size: 18px;
  color: #ffffff;
  background-color: 	#336699
}

/* Card comment button */
.comment{
  width: 100%;
  height: auto;
  border: 1px solid #cccccc;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}
.buttons{
  display: flex;
  justify-content: space-between;
  width: 15em;
}
.button1{
 background-color: #f8f8f8;
 color: #62a4da;
 box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
 margin-right: 30px;
}
.button1:hover{
  color: #19bd63 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}
.button2{
  background-color: #f8f8f8;
 color: #62a4da;
 box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
 margin-right: 30px;
}
.button2:hover{
  color: #5e4eee !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}
.button3{
  background-color: #f8f8f8;
  color: #62a4da;
 box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}
.button3:hover{
  color: #db1919 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}
h6{
  padding-top: 0.5em;
}

/*form comment*/
.comment-form{
  border: none;
}